DATABASE_URL=postgresql://username:password@localhost:5432/chunithm
PUBLIC_ENABLED_VERSION=XVRSX,XVRS,VRS
PUBLIC_DEFAULT_VERSION=XVRS
MUSIC_IMAGE_URL=
PUBLIC_MAIMAI_URL=

AWS_ENDPOINT=
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=

ADMIN_USER_ID=

AUTH_SECRET=
AUTH_DISCORD_ID=
AUTH_DISCORD_SECRET=
