DATABASE_URL=postgresql://username:password@localhost:5432/maimai
PUBLIC_ENABLED_VERSION=CiRCLE,CiRCLE+
PUBLIC_DEFAULT_VERSION=CiRCLE
MUSIC_IMAGE_URL=
PUBLIC_CHUNI_URL=

AWS_ENDPOINT=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=

AUTH_SECRET=
AUTH_DISCORD_ID=
AUTH_DISCORD_SECRET=
