# Required for scraping
USERNAME=
PASSWORD=
VERSION=VRS

# Required for saving to database
DATABASE_URL=postgresql://username:password@localhost:5432/chunithm

# Required for image generation
IMAGE_GEN_URL=https://chuni.wonderhoy.me

# Required for sending image to Discord
DISCORD_TOKEN=
CHANNEL_ID=
